{% extends 'base.html.twig' %}

{% block title %}Shopping Cart - Mousquetaire Shop{% endblock %}

{% block body %}
<div class="cart-page">
    <div class="cart-container">
        <h1 class="cart-title">Mon Panier</h1>

        <div id="cart-display">
            <!-- Cart content will be injected by JavaScript -->
        </div>
    </div>
</div>

{% endblock %}
