var/cache/*
var/log/*
var/sessions/*
.git
.gitignore
.env.local
.env.*.local
node_modules
vendor
public/bundles
public/assets
.idea
.vscode
*.md
compose.yaml
compose.override.yaml
Dockerfile
.dockerignore
