/* MouseQuetaire Shop - Main Stylesheet */
/* Import all component stylesheets */
@import "./base.css";
@import "./home.css";
@import "./products.css";
@import "./product-detail.css";
@import "./cart.css";
@import "./auth.css";
@import "./admin.css";
